<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051061878440-5dt639nmenl59v84tma6a7t635bp0vrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051061878440-5dt639nmenl59v84tma6a7t635bp0vrb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051061878440-f18l3lheoe52i8a229sarfg68ts86evu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhg11Xyfc1LcOQC_tI8WOjLc-ZyaikHUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1051061878440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hummy</string>
	<key>PROJECT_ID</key>
	<string>hummy-10309</string>
	<key>STORAGE_BUCKET</key>
	<string>hummy-10309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051061878440:ios:ce310420a1a3c9bd394c9d</string>
</dict>
</plist>